body{
    margin: 0;
    border: 0;

}
.first-container{
    
    padding-left: 2rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.first-container-box1 img{
    padding-left: 5rem;
    width: 200px;
    height: 200px;
}
.first-container-box1{
    background-color: blanchedalmond;
  align-items: center;
    display: flex;
    justify-content: flex-start;
}
.fstline{
    padding-left: 2rem;
    text-align: center;
    letter-spacing: 0.5rem;
    
}

.tags {
    padding-left: 9rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    nav{
        display: flex;
        gap: 2rem;
    }
    
}
a{
     text-decoration: none;
}
.flat-container{
    margin: 0;
    border: 0;
    background:url("https://www.livehome3d.com/assets/img/articles/rooms-in-house/luxurious-living-room@2x.jpg");
     background-size: cover;
    height: 45rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 0.9rem;
    letter-spacing: 0.3rem;
    padding-top: 4rem;
   
}
.land-container{
    margin: 0;
    border: 0;
background: url("https://agvalueconsulting.com/wp-content/uploads/2024/04/Farm-Process-1024x532.jpg");
 background-size: cover;
 color:aliceblue;
    height: 45rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 0.9rem;
     letter-spacing: 0.3rem;
    padding-top: rem;
}
.footer-container{
    background-color: bisque;
    display: flex;justify-content: space-evenly;

.foot-box1,.foot-box2,.foot-box3,.foot-box4{
    /* color: white; */
    /* background-color: black; */
    width: 20rem;
    /* display: flex; */
}
.foot-box1 img{
width: 100px;
height: 100px;
padding-bottom: -2rem;
margin: 0;
}
.foot-box1 p{
    padding-top: 0rem;
    line-height: 1.2rem;
    font-family: sans-serif;
    margin: 0;
}
 .span{
    font-weight: 700;
    font-family: serif;
 }

.foot-box2 h3{
    padding-left: 1.6rem; 
}
}
.overall-porperty{
    text-align: center;
}
.properties{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
       justify-content: space-evenly;
       
  
   
    .properties-fst-container,.properties-snd-container,.properties-trd-container{
        padding: 1rem;
    background-color: aquamarine;
    box-shadow: 5px 5px 5px  rgb(186, 226, 186);
     /* border: 2px black solid; */
     border-radius: 1rem;
     >h3{
        letter-spacing: 0.2rem;
     }
       height: 20rem;
    width: 25rem;
    >button{
            color:rgb(60, 47, 232);
            width: 13.9rem;
            border: 0;
            border-radius: 1.5rem;
            height: 2rem;
            background-color:lightblue;
    }
     button:hover{
            background: rgb(71, 96, 105);
            color: white;
        }
}
 .properties-fst-container:hover{
    transform: scale(1.1)translateY(-10px);

 }
.properties-snd-container:hover{
    transform: scale(1.1)translateY(-10px);
  
}
.properties-trd-container:hover{
    transform: scale(1.1)translateY(-10px);
    
}
} 
.city-properties{
    .city-fst-container{
        text-align: center;
    }
}
.chennai-propertie-table,.coimbatore-propertie-table,.madurai-propertie-table,.trichy-propertie-table {
  padding: 40px;
}

.chennai-propertie-table .chennai-table ,.coimbatore-propertie-table .coimbatore-table,
.madurai-propertie-table .madurai-table ,.trichy-propertie-table .trichy-table{
  width: 100%;
  border-collapse: collapse;
}

.chennai-propertie-table th,
.chennai-propertie-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.chennai-propertie-table th {
  background-color: #f2f2f2;
}

.chennai-propertie-table button {
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.coimbatore-propertie-table th,
.coimbatore-propertie-table td{
     padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.coimbatore-propertie-table th{
     background-color: #f2f2f2; 
}
.coimbatore-propertie-table button{
     padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.madurai-propertie-table th,
.madurai-propertie-table td{
 padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.madurai-propertie-table th{
  background-color: #f2f2f2; 
}
.madurai-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.trichy-propertie-table th,
.trichy-propertie-table td{
 padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.trichy-propertie-table th{
 background-color: #f2f2f2; 
}
.trichy-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}

.village-properties{
    .village-fst-container{
        text-align: center;
    }
}

.villupuram-propertie-table,.kallakurichi-propertie-table,.tiruvannamalai-propertie-table,
.salem-propertie-table,.ariyalur-propertie-table{
     padding: 40px;
}
.villupuram-propertie-table .villupuram-table,.kallakurichi-propertie-table .kallakurichi-table,
.tiruvannamalai-propertie-table .tiruvannamalai-table,.salem-propertie-table .salem-table,
.ariyalur-propertie-table .ariyalur-table{
     width: 100%;
  border-collapse: collapse; 
}
.villupuram-propertie-table th,.villupuram-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.villupuram-propertie-table th{
 background-color: #f2f2f2;
}
.villupuram-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.kallakurichi-propertie-table th,.kallakurichi-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.kallakurichi-propertie-table th{
 background-color: #f2f2f2;
}
.kallakurichi-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.tiruvannamalai-propertie-table th,.tiruvannamalai-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.tiruvannamalai-propertie-table th{
background-color: #f2f2f2;
}
.tiruvannamalai-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.salem-propertie-table th,.salem-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.salem-propertie-table th{
background-color: #f2f2f2;
}
.salem-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.ariyalur-propertie-table th,.ariyalur-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.ariyalur-propertie-table th{
background-color: #f2f2f2;
}
.ariyalur-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.hillStation-properties{
    .hillstation-fst-container{
         text-align: center;
    }
}
.ooty-propertie-table,.kodaikanal-propertie-table,.yercaud-propertie-table,.coonoor-propertie-table{
 padding: 40px;
}
.ooty-propertie-table .ooty-table,.kodaikanal-propertie-table .kodaikanal-table,
.yercaud-propertie-table .yercaud-table,.coonoor-propertie-table .coonoor-table{
 width: 100%;
  border-collapse: collapse; 
}
.ooty-propertie-table th,.ooty-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.ooty-propertie-table th{
background-color: #f2f2f2;
}
.ooty-propertie-table button{
 padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.kodaikanal-propertie-table th,.kodaikanal-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.kodaikanal-propertie-table th{
background-color: #f2f2f2;
}
.kodaikanal-propertie-table button{
padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.yercaud-propertie-table th,.yercaud-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.yercaud-propertie-table th{
background-color: #f2f2f2;
}
.yercaud-propertie-table button{
padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
}
.coonoor-propertie-table th,.coonoor-propertie-table td{
padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.coonoor-propertie-table th{
background-color: #f2f2f2;
}
.coonoor-propertie-table button{
   padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;  
}
.about-container{
      margin: 0;
    border: 0;
    width: 100%;
.about-fst-container{
    padding-left: 1rem;
    display: flex;
  background-color: antiquewhite;
  .box-container{
    >h2{
        font-size: 2rem;
        color: azure;
    }
    .span{
        /* font-style: italic; */
        font-weight: 600;
    }
    background-color:blanchedalmond;
    color: rgb(42, 46, 50);
    align-content: center;
    padding: 0px 7rem;
    font-size: 1.2rem;
    font-family: sans-serif;
  }
  
  .about-fst-container img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about-snd-container{
  
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 2rem;
    >h1{
       color: rgb(6, 58, 104); 
    }
    .sec-box-container{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        align-items: center;
         padding: 40px;
    }
    .sec-box2 img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 10px;
}
.sec-box1 p{
    align-content: center;
      font-size: 1.2rem;line-height: 1.8rem;
      font-family: sans-serif;
}
}
.about-trd-container{
    margin: 0;
    border: 0;
    padding-top: 2rem;
    background-color: antiquewhite;
    .trd-box-container{
        .trd-box{
            text-align: center  ;
        }
        .trd-box1{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        align-items: center;
         padding: 40px;
        }
        .trd-box1 img{
             width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 10px;
        }
        .trd-box1 p{
            padding: 3rem;
            text-align: center;
            line-height: 2rem;
            font-size: 1.5rem;
            font-family: sans-serif;
        }
          /* .trd-box1:hover{
            transform: scale(1.1)translateY(-5px);
        } */
        .trd-box2{
              display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        align-items: center;
         padding: 40px;
        }
        /* .trd-box2:hover{
            transform: scale(1.1)translateY(-5px);
        } */
        .trd-box2 img{
            
              width: 100%;
        height: 100%;
        object-fit: cover; 
        border-radius: 10px;
        }

        .trd-box2 p{
            padding: 3rem;
            text-align: center;
            line-height: 2rem;
            font-size: 1.5rem;
            font-family: sans-serif;
        }
    }
}
}
.about-frth-container{
    .h1tag{
        text-align: center;
    }
    .frth-box{
        background: url("https://www.shutterstock.com/image-photo/sunlit-outdoor-meeting-construction-workers-260nw-2694924847.jpg");
        background-size: cover;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.about-fifth-container{
    .fifth-h1{
        text-align: center;
    }
    .fifth-box1{
        text-align: center;
        font-size: 1.4rem;
    }
    .fifth-box2{
        text-align: center;
        font-size: 1.2rem;
    }
}
.contact-container {
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact-form button {
  padding: 0.8rem;
  border: none;
  border-radius: 25px;
  background-color: #1e3a8a;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #0f172a;
}

