body{
    margin: 0;
    border: 0;
}
.first-container{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.fstline{
    text-align: center;
    letter-spacing: 0.5rem;
    
}
.tags {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
}
a{
     text-decoration: none;
}
.flat-container{
    margin: 0;
    border: 0;
    background:url("https://www.livehome3d.com/assets/img/articles/rooms-in-house/luxurious-living-room@2x.jpg");
     background-size: cover;
    height: 45rem;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 0.9rem;
    /* font-family:sans-serif; */
    letter-spacing: 0.3rem;
    padding-top: 4rem;
    /* .vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal; */
/* } */
}
.land-container{
    margin: 0;
    border: 0;
background: url("https://agvalueconsulting.com/wp-content/uploads/2024/04/Farm-Process-1024x532.jpg");
 background-size: cover;
 color:aliceblue;
    height: 45rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 0.9rem;
     letter-spacing: 0.3rem;
    padding-top: rem;
}

